<!-- Edit User Profile -->
<div id="editprofilepage">
 <div class="container">
  <div class="row">
   <br>
   <br>
    <div class="col s6" id="editprofileform">
     <h4 id="formhead">Edit Profile</h4>
     <%= form_for @user do |f| %>
      <div>
        <%= f.text_field :username, placeholder: "Username", id:"form" %>
      </div>

      <div>
        <%= f.text_field :email, placeholder: "Email", id:"form" %>
      </div>

      <br>
      <div class="col s6 push-s3">
        <a class="waves-effect waves-light btn" id="buttonz"><%= f.submit "Save" %></a>
      </div>
      <% end %>
    </div>
  </div>
 </div>
</div>
