
  <div class="col s12 home-img">
    <h3 id="herotext"> SHARE THE OUTDOORS </h3>
  </div>

  <div class="col s12 home-gif">
    <div class="container">
      <br>
      <div class="row">
          <div class="col s3 offset-s2">
            <i class="large material-icons" id="dashicon">location_on</i>
            <h4>Camp</h4>
              <!-- <h6>Stuff n things</h6> -->
          </div>
          <div class="col s3">
            <i class="large material-icons" id="dashicon">assignment</i>
            <h4>Review</h4>
            <!-- <h6>Stuff n things</h6> -->
          </div>
          <div class="col s3">
          <i class="large material-icons" id="dashicon">settings_ethernet</i>
            <h4>Share</h4>
            <!-- <h6>Stuff n things</h6> -->
            <br>
          </div>
      </div>
   </div>
 </div>

<div class="col s12 home-img">
<p> test</p>
</div>
