<!-- HOMEPAGE -->
<div class="homebackground">
  <div class="col s12 home-img">
    <h3 id="herotext"> SHARE THE OUTDOORS </h3>
    <a href="/campsites" class="waves-effect waves-light btn-large" id="herobutton"><i class="material-icons left">shuffle</i>GET OUTSIDE</a>
  </div>



  <div class="col s12 home-gif">
    <div class="container">
      <br>
      <div class="row">
          <div class="col s3 offset-s2">
            <i class="large material-icons" id="dashicon">location_on</i>
            <h4>CAMP</h4>
          </div>
          <div class="col s3">
            <i class="large material-icons" id="dashicon">&nbsp;assignment</i>
            <h4>REVIEW</h4>
          </div>
          <div class="col s3">
          <i class="large material-icons" id="dashicon">settings_ethernet</i>
            <h4>SHARE</h4>
            <br>
          </div>
      </div>

   </div>
 </div>

<div class="col s12 home-img2">
  <div class="col s4 github-img">
    <img src="./images/GitHub.jpg">
  </div>
</div>

</div>
