/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require materialize
 */

nav li a {
  font-size: 22px!important;
}

#navbar {
   background-color: black;
 }

#signuppage {
  background-image: url(mountains.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 800px;
  margin-top: -25px;

}

a {
  text-decoration: none!important;
}

/*sigup page box*/
#loginform {
  background-color: #424242;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  top: 28%;
  left: 25%;
  position: absolute;
  width: 550px;
  height: 550px;
  z-index: 15;
  margin: -100px 0 0 -150px;
  font-family: 'Bree Serif', serif;
}

#Loginpagebackground {
  background-image: url("map.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 750px;
  margin-top: -25px;
}

/*login page box*/
#loginpage {
  background-color: #424242;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  top: 28%;
  left: 25%;
  position: absolute;
  width: 400px;
  height: 450px;
  z-index: 15;
  margin: -100px 0 0 -150px;
  font-family: 'Bree Serif', serif;
}

#formhead {
  color: white;
  text-align: center;

}
