// Place all the styles related to the camping_lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#gearimg {
  background-image: url("gear.jpg");
  width: 600px;
  height: 700px;
  // background-attachment: fixed;
  // background-position: right;
  // background-size: cover;
  margin-top: 45px;
  font-family: 'Bree Serif', serif;
  text-shadow: 4px 4px 6px #000000;

}
