// Place all the styles related to the campsites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#limheight {
    height: 1200px;
    -webkit-column-count: 5;
    -moz-column-count: 3;
    column-count: 4; /*3 is just placeholder -- can be anything*/
}

#limheight h5 {
    text-decoration: none !important;
    display: inline-block;
    padding-bottom: 20px;
}

#limheight h5:hover {
  background-color: grey;
}
