// Place all the styles related to the camping_lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#gearimg {
  background-image: url("gear.jpg");
  width: 600px;
  height: 650px;
  margin-top: 45px;
  border: 2px solid black;
}

#listpage {
  background-image: url("waterfall.jpg");
  width: 100%;
  height: 750px;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  margin-top: -15px;
}

#listform {
  background-color: #424242;
  border: 2px solid black;
  border-radius: 10px;
  // padding: 20px;
  // top: 28%;
  // left: 25%;
  // position: absolute;
  width: 370px;
  height: 250px;
  // z-index: 15;
  margin-top: 150px;
}
