// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
  background-color: black;
  color: white;
}

.home-img {
  background-image: url("julian.jpg");
  width: 100%;
  height: 700px;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  margin-top: -15px;
}

.home-gif {
  // position: relative;
  background-image: url("fire.gif");
  max-width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
}

#herotext {
  text-align: right;
  padding-top: 200px;
  padding-right: 80px;
  margin: 0;
  font-size: 70px;
}
