<!-- CAMPSITES INDEX -->
<div class="campsiteindex-img">
  <div class="container" >
    <div class="col s12" id= "limheight">
      <%  @campsites[0...63].each do |p| %>
        <h5><%= link_to "#{p.name}", campsite_path(p) %></h5>
        <br>
      <% end %>
    </div>
    <div class="col s5 pull-s5">
      <%= will_paginate  %>
    </div>
  </div>
</div>
